.header-center:hover {
  background-color: #dddddd;
  border-radius: 10px;
}

.thsdnfshdghj {
  position: absolute;
  bottom: -563px;
  background-color: #fff;
  box-shadow: 0 1px 4px rgb(0 0 0 / 20%);
  padding: 16px;
  width: 360px;
  border-radius: 10px;
}

.chilren-thdfs {
  background-color: #fff;
  padding: 8px;
  margin: auto;
  border-radius: 10px;
  box-shadow: 0 1px 4px rgb(0 0 0 / 20%);
}
.testtt {
  padding: 8px;
}

.testtt:hover {
  background-color: #eeeeee;
  border-radius: 10px;
}
.border-fdsf {
  border: 1px solid #dadde1;
  margin-top: 10px;
}

.fdsfdsfdf {
  background-color: red;
  color: #fff;
  width: fit-content;
  border-radius: 50%;
  font-weight: bold;
  padding: 4px 6px 4px 6px;
}
.fsdfdsf-hover:hover {
  background-color: #eeeeee;
  border-radius: 10px;
}
