.container {
  padding: 10px 20px 10px 20px;
}

.contain-happy {
}

.happy {
  display: flex;
  word-wrap: break-word;
  flex-wrap: wrap;
  align-items: center;
  column-gap: 5px;
}

.contentrightcomponent {
  color: #8f9195;
  font-size: 16px;
  font-weight: bold;
}

.happyopacity {
  color: #39393a;
}

.happybold {
  color: #39393a;
  font-weight: bold;
}

.contact {
  position: relative;
}

.background {
  background-color: #31a24c;
  width: 10px;
  height: 10px;
  border-radius: 50%;
  position: absolute;
  bottom: 2px;
  left: 23px;

  border: 2px solid #fff;
}

.contentright-hover:hover {
  background-color: #dddddd;
  border-radius: 10px;
}
