.container {
  padding-right: 20px;
}

::-webkit-scrollbar {
  width: 10px;
}

::-webkit-scrollbar-track {
  background-color: #f1f1f1;
}

::-webkit-scrollbar-thumb {
  background-color: gainsboro;
}

.container {
  overflow: hidden;
  height: calc(90vh - 20px);
}

.container:hover {
  overflow-y: scroll;
}
.contain-happy {
}

.happy {
  display: flex;
  word-wrap: break-word;
  flex-wrap: wrap;
  align-items: center;
  column-gap: 5px;
}

.contentrightcomponent {
  color: #8f9195;
  font-size: 16px;
  font-weight: bold;
}

.happyopacity {
  color: #39393a;
}

.happybold {
  color: #39393a;
  font-weight: bold;
}

.contact {
  position: relative;
}

.background {
  background-color: #31a24c;
  width: 10px;
  height: 10px;
  border-radius: 50%;
  position: absolute;
  bottom: 2px;
  left: 23px;
  border: 2px solid #fff;
}

.contentright-hover:hover {
  background-color: #dddddd;
  border-radius: 10px;
}

.trochuyennhom:hover {
  background-color: #dddddd;
  border-radius: 10px;
}
