.conatinenf {
  margin-top: 20px;
  background-color: #fff;
  padding: 16px;
  box-shadow: 0 1px 4px rgb(0 0 0 / 20%);
}
.content-baiviet {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.boloc-quanli {
  display: flex;
  align-items: center;
  background-color: #e4e6eb;
  padding: 8px 16px;
  width: fit-content;
  border-radius: 10px;
  column-gap: 5px;
  color: #171717;
  font-weight: 600;
  cursor: pointer;
}
.boloc-quanli:hover {
  background-color: #dddddd;
  opacity: 0.8;
}
.ds-bannbe {
  margin-top: 10px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  cursor: pointer;
}
.danhsachbanbe-child {
  padding: 8px;
}
.danhsachbanbe-child:hover {
  background-color: #dddddd;
  opacity: 0.8;
  border-radius: 5px;
}
.chedoluoi {
  padding: 8px;
}
.chedoluoi:hover {
  background-color: #dddddd;
  opacity: 0.8;
  border-radius: 5px;
}

.bangtin-perosn {
  margin-top: 20px;
  background-color: #fff;
  padding: 16px;
  box-shadow: 0 1px 4px rgb(0 0 0 / 20%);
}
